@import "skeleton";
@import "alpha-omega";
@import "border";
@import "first-and-last";
$background:blue;
$content-background:white;

body{
	background-color: $background;
}
.container{
	@include container;
	//@include border;	
	@include border-radius;
	background-color:$content-background;
	height:500px;
	div{
		height:50px;
		background:pink;
		//@include border;
		@include border-radius;
		
	}
	@include first-and-last-in-row(div,5){
		background-color:green;
	}
	@include alpha-omega(div,5);
}